/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
/* line 30, ../sass/sanitize.scss */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%; }

/* line 36, ../sass/sanitize.scss */
audio:not([controls]) {
  display: none; }

/* line 40, ../sass/sanitize.scss */
details {
  display: block; }

/* line 45, ../sass/sanitize.scss */
input[type="number"] {
  width: auto; }
/* line 49, ../sass/sanitize.scss */
input[type="search"] {
  -webkit-appearance: textfield; }
  /* line 52, ../sass/sanitize.scss */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/* line 59, ../sass/sanitize.scss */
main {
  display: block; }

/* line 63, ../sass/sanitize.scss */
summary {
  display: block; }

/* line 67, ../sass/sanitize.scss */
pre {
  overflow: auto; }

/* line 71, ../sass/sanitize.scss */
progress {
  display: inline-block; }

/* line 75, ../sass/sanitize.scss */
small {
  font-size: 75%; }

/* line 79, ../sass/sanitize.scss */
template {
  display: none; }

/* line 83, ../sass/sanitize.scss */
textarea {
  overflow: auto; }

/* line 87, ../sass/sanitize.scss */
[hidden] {
  display: none; }

/* line 91, ../sass/sanitize.scss */
[unselectable] {
  user-select: none; }

/*
 * Universal inheritance
 */
/* line 101, ../sass/sanitize.scss */
*,
::before,
::after {
  box-sizing: inherit; }

/* line 107, ../sass/sanitize.scss */
* {
  font-size: inherit;
  line-height: inherit; }

/* line 112, ../sass/sanitize.scss */
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
/* line 126, ../sass/sanitize.scss */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

/* line 135, ../sass/sanitize.scss */
* {
  margin: 0;
  padding: 0; }

/* line 142, ../sass/sanitize.scss */
:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

/* line 151, ../sass/sanitize.scss */
html {
  background-color: #FFFFFF; }

/* line 157, ../sass/sanitize.scss */
a {
  text-decoration: none; }

/* line 163, ../sass/sanitize.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* line 174, ../sass/sanitize.scss */
button,
input,
select,
textarea {
  background-color: transparent; }

/* line 183, ../sass/sanitize.scss */
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/* line 195, ../sass/sanitize.scss */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

/* line 219, ../sass/sanitize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/* line 228, ../sass/sanitize.scss */
nav ol,
nav ul {
  list-style: none; }

/* line 235, ../sass/sanitize.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  /* line 239, ../sass/sanitize.scss */
  select::-ms-expand {
    display: none; }
  /* line 243, ../sass/sanitize.scss */
  select::-ms-value {
    color: currentColor; }

/* line 250, ../sass/sanitize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 257, ../sass/sanitize.scss */
textarea {
  resize: vertical; }

/* line 263, ../sass/sanitize.scss */
::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  /* line 271, ../sass/sanitize.scss */
  [hidden~="screen"] {
    display: inherit; }

  /* line 275, ../sass/sanitize.scss */
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }
